body{
    background-color: black;
    background-image:url(transferir.jfif);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-attachment: fixed;
    position: relative;
}



/*dropdown*/

center {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
    height: 60px;
}

nav {
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative; 
    margin: 0 15px;
}

nav ul li a {
    color: #257e0f;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block; 
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #62ff00;
}


nav ul li .dropdown-content {
    display: none; 
    position: absolute; 
    background-color: #181c17;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #21341a; 
}

nav ul li:hover .dropdown-content {
    display: block;
}


/*Home*/

.parte-1 {
    display: inline-block;
    position: absolute;
    color: #0b0d0c;
    font-size: 80px;
    text-align: center;
    width: 85%;
    margin-top: 0px;
  }
  
.parte-2 {
    display: inline-block;
    position: absolute;
    color: #0b0d0c;
    font-size: 80px;
    text-align: center;
    width: 110%;
    margin-top: 0px;   
}
  

section span{
    display: inline-block;
    width: 45%;
    margin-top: 0px;
    text-align: center;
    color: #62ff00;
    font-size: 50px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 35px;
  }

@font-face{

    font-family: myFirstFont;
    src: url("who\ asks\ satan.ttf");
  }
  
 section div {
    font-family: myFirstFont;
  }

section p {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: white;
  }

.card img{
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;   
    margin-left: 95px;
    margin-top: 60px;
}

.cardC img{
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;   
    margin-left: 95px;
    margin-top: 60px;
}


/*footer*/

footer{
    /*background-color: #181c17*/
    color: #91fa77;
    padding: 40px 0;
    text-align: justify;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section{
    flex-basis: 23%;
    margin-bottom: 20px;
}

.footer-section h4{
    margin-bottom: 15px;
    font-size: 20px;
    color: #62ff00;
}

.footer-section p, .footer-section ul{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 115%;
}

.footer-section ul{
    list-style-type: none;
}

.footer-section ul li{
    margin-bottom: 10px;
}

.footer-section ul li a{
    color: #91fa77;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover{
    color: #62ff00 ;
}
